// Colors
$clr1: rgb(0,82,255);
$clr2: #FFFFFF;
$clr3: #e7e7e7;
$clr4: #696969;
$clr5: #e6e9ec;
$clr6: #0A0B0D;
$clr: #A0A2A6;
$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;